<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="certisign_add_internal_order_number" instance="Certisign\ChallengeOrderNumber\Observer\AddInternalOrderNumber"/>
    </event>
</config>
